.auth-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.auth-card {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(255, 107, 53, 0.4);
}

.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #ff6b35, #ff8c42);
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.auth-right {
  flex: 1;
  background: #1c2434;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.auth-right h2 {
  margin-bottom: 20px;
  color: #ff6b35;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input,
.auth-form select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2a3548;
  color: white;
}

.auth-btn {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #ff6b35, #ff8c42);
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #ff6b35;
  cursor: pointer;
  margin-left: 5px;
}